<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/carousel/">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
    <script src="notice.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/bbs/bbs.js"></script>
    <script src="/js/bbs/modalEstimate.js"></script>
    <link href="/css/bbs.css" rel="stylesheet">
</head>
<body>

<header data-bs-theme="dark" th:replace="~{mainNav.html :: nav}"> </header>
<div class="container mt-5">
    <div class="row vh-100 justify-content-center align-items-center">
        <div class="col-md-12">
            <div class="container">
                <h2>게시판</h2><small>댓글을 작성하시려면 글 내용을 눌러주세요</small>
                <table class="table" style="margin: auto; text-align: center;">
                    <thead>
                    <tr>
                        <th>이미지</th>
                        <th colspan="2">제목</th>
                        <th></th>
                        <th>견적</th>
                        <th>조회수</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="vo : ${bbsList}">
                        <tr>
                            <td class="tg-0pky" rowspan="5">이미지</td>
                            <td class="tg-0lax bbsTitle" th:text="${vo.bbsTitle}" colspan="2">제목</td>
                            <td class="tg-0lax"><th:block th:if="${vo.bbsWriter} == ${userID}"><button class="btn btn-danger" th:page="${page}" th:pageSize="${pageSize}" th:searchText="${searchText}" th:searchCategory="${searchCategory}" th:bbsID="${vo.bbsID}" th:onclick="deleteBbs(this.getAttribute('page'), this.getAttribute('pageSize'), this.getAttribute('searchText'), this.getAttribute('searchCategory'), this.getAttribute('bbsID'))">삭제</button></th:block> </td>
                            <td class="tg-0lax">
                                <!-- Add data-bs-toggle and data-bs-target attributes to trigger the modal -->
                                <button class="btn btn-primary"
                                        data-bs-toggle="modal"
                                        data-bs-target="#estimateModal"
                                        th:attr="data-estimate-id=${vo.bbsEstimateID},data-bbs-writer=${vo.bbsWriter}"
                                        onclick="showModal(this)">견적 확인</button>
                            </td>
                            <td class="tg-0lax" th:text="${vo.views}">조회수</td>
                        </tr>
                        <tr>
                            <td class="tg-0lax" valign="top" colspan="5" rowspan="4" th:id="'contents_' + ${vo.bbsID} " th:bbsID="${vo.bbsID}" th:bbsWriter="${vo.bbsWriter}" th:onclick="toggleScrollableWindow(this,this.getAttribute('bbsID'), this.getAttribute('bbsWriter'))">
                            <div class="scrollable-container" style="overflow-y: hidden; height: 100%; width: 100%">
                                    <table style="width: 100%; height: 100%;" border="1">
                                        <tr class="content-container">
                                            <td style="width:75px;" rowspan="2">
                                                <div class="userProfileImage"><img style="width:100%;" th:id="'userProfileImage_' + ${vo.bbsID}" alt="User Profile Image"></div>
                                            </td>
                                            <td><div class="writer" th:text="${vo.bbsWriter}"></div> <div class="timezone" th:text="${vo.writeDate}"></div></td>
                                            <td></td>
                                        </tr>
                                        <tr class="content-container">
                                            <td colspan="2" th:text="${vo.bbsContent}"></td>
                                        </tr>
                                        <tr>
                                            <td colspan="3">
                                                <div class="comments-container"></div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                        </tr>
                        <tr>
                        </tr>
                        <tr>
                        </tr>
                        <tr>
                        </tr>
                        <tr th:id="'comment_input_form_' + ${vo.bbsID}" style="display: none;">
                            <form th:id="'commentForm_' + ${vo.bbsID}"  onsubmit="event.preventDefault();">
                                <input type="hidden" name="bbsID" th:value="${vo.bbsID}" />
                                <input type="hidden" name="opponentWriter" th:value="${vo.bbsWriter}" />
                                <td>
                                    <b>댓글</b>
                                </td>
                                <td colspan="5">
                                    <div style="display: flex; align-items: end; justify-content: center;">
                                        <textarea th:id="'comContent_' + ${vo.bbsID}" name="comContent" style="width:78%; height:100%; align-self: flex-end;" placeholder="댓글을 입력해주세요"></textarea>
                                        <button type="submit" class="btn btn-primary" style="align-self: flex-end; width:8%; height:100%;">작성</button>
                                        <button th:id="'partChkButton_' + ${vo.bbsID}" class="btn btn-success btn-sm" style="width:8%;" th:bbsID="${vo.bbsID}" onclick="openCommentModal(event, this.getAttribute('bbsID'))"><small>부품 조회</small></button>
                                        <button th:id="'closeButton_' + ${vo.bbsID}" class="btn btn-light btn-sm" style="align-self: flex-end; width:6%; height:100%;">닫기</button>
                                    </div>
                                </td>
                            </form>
                        </tr>
                        <script th:inline="javascript">
                            var userID = [[${userID}]];
                            var bbsWriter[[${vo.bbsID}]] = [[${vo.bbsWriter}]];
                            var bbsID[[${vo.bbsID}]] = [[${vo.bbsID}]];
                            var imgElement = document.getElementById("userProfileImage_" + bbsID[[${vo.bbsID}]]);
                            getUserProfile(bbsWriter[[${vo.bbsID}]], imgElement);

                            var form[[${vo.bbsID}]] = document.getElementById('commentForm_' + bbsID[[${vo.bbsID}]]);
                            var element[[${vo.bbsID}]] = document.getElementById('contents_' + bbsID[[${vo.bbsID}]]);
                            form[[${vo.bbsID}]].addEventListener('submit', (event) => handleSubmit(event, element[[${vo.bbsID}]], bbsID[[${vo.bbsID}]], bbsWriter[[${vo.bbsID}]]));
                            var closeButton = document.getElementById('closeButton_' + bbsID[[${vo.bbsID}]]);

                            if (closeButton) {
                              closeButton.addEventListener('click', function() {
                                event.preventDefault();
                                restScorollableWindow(element[[${vo.bbsID}]], bbsID[[${vo.bbsID}]]);
                              });
                            }

                        </script>
                    </th:block>
                    </tbody>
                </table>
                <div style="display: flex; justify-content: center;">
                <nav aria-label="Page navigation example">
                    <th:block th:if="${page <= pageInfo.maxPageSize}">
                        <ul class="pagination">
                            <li th:if="${page != 0}" class="page-item"><a class="page-link" th:href="@{/bbs(page=${(page - 1)}, searchCategory=${searchable.searchCategory}, searchText=${searchable.searchText}, pageSize=${pageSize})}">Previous</a></li>
                            <th:block th:each="num : ${#numbers.sequence(pageInfo.startPageNum, pageInfo.endPageNum)}">
                                <li th:classappend="${num == page} ? 'page-item active' : 'page-item'">
                                    <a class="page-link" th:href="@{/bbs(page=${num}, searchCategory=${searchable.searchCategory}, searchText=${searchable.searchText}, pageSize=${pageSize})}" th:text="${num + 1}"></a>
                                </li>
                            </th:block>
                            <li th:if="${page != pageInfo.maxPageSize}" class="page-item"><a class="page-link" th:href="@{/bbs(page=${(page + 1)}, searchCategory=${searchable.searchCategory}, searchText=${searchable.searchText}, pageSize=${pageSize})}">Next</a></li>
                        </ul>
                    </th:block>
                </nav>
                </div>

                <div class="containers" style="display: flex; justify-content: space-between;">
                    <div class="left-content">
                        <a href="/bbs/write">
                            <button class="btn btn-primary">작성</button>
                        </a>
                        <a th:if="${page != 0}" th:href="@{/bbs(page=0, searchCategory=${searchable.searchCategory}, searchText=${searchable.searchText}, pageSize=${pageSize})}">
                            <button class="btn btn-primary">첫 페이지로</button>
                        </a>
                    </div>

                    <div class="center-content">
                        <form id="searchForm" action="/bbs" method="get" style="display: flex; align-items: center; justify-content: center;">
                            <select name="searchCategory" id="searchCategory" class="form-select">
                                <option th:attr="selected=${searchable.searchCategory == null || searchable.searchCategory == 'bbsTitle'}" value="bbsTitle">제목</option>
                                <option th:attr="selected=${searchable.searchCategory == 'bbsContent'}" value="bbsContent">내용</option>
                                <option th:attr="selected=${searchable.searchCategory == 'bbsWriter'}"value="bbsWriter">글쓴이</option>
                            </select>
                            <input type="search" name="searchText" th:value="${searchable.searchText}">
                            <input type="submit" class="btn btn-primary" value="검색">
                    </div>

                    <div class="right-content">
                            <div style="display: flex; align-items: center;">
                                <label>페이지 사이즈</label>
                                <select name="pageSize" id="pageSize" class="form-select">
                                    <option value="3" th:attr="selected=${pageSize == 3}">3</option>
                                    <option value="5" th:attr="selected=${pageSize == null || pageSize == 5}">5</option>
                                    <option value="10" th:attr="selected=${pageSize == 10}">10</option>
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--견적 정보 출력 모달 부분-->
<div class="modal fade" id="estimateModal" tabindex="-1" role="dialog" aria-labelledby="estimateModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <img style="width:100px; height:100px;" id="modalWriterProfleImage" alt="Profile Image">
                <h5 class="modal-title" id="estimateModalLabel">견적 확인</h5>
                <div id="undoDiv">
                    <button type="button" class="btn btn-outline-secondary" id="undoBtn">돌아 가기</button>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="hideModal()"></button>
            </div>
            <div class="modal-body" id="dynamicContent">
            </div>
        </div>
    </div>
</div>

<!-- 댓글 입력 모달 -->
<div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="commentModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="commentModalLabel">댓글 입력</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>


<script>
  // select 요소 변경 시 form submit 실행
  document.getElementById("pageSize").addEventListener("change", function () {
    document.getElementById("searchForm").submit();
  });

  var estimateID;

  function showEstimate() {
    axios
      .get("/modal/bbsEstimate", {
        params: {
          estimateID: estimateID,
        },
      })
      .then(function (response) {
        // 성공적인 응답을 받으면 HTML을 동적으로 추가합니다.
        var dynamicContent = document.getElementById("dynamicContent");
        dynamicContent.innerHTML = response.data;

        // Evaluate the JavaScript code inside the <script> tag
        var scripts = dynamicContent.getElementsByTagName("script");
        var script = scripts[scripts.length - 1];
        eval(script.innerHTML);

        var undoBtn = document.getElementById("undoBtn");
        undoBtn.style.display = "none";
      })
      .catch(function (error) {
        console.error("오류가 발생했습니다:", error);
      });
  }

  var undoBtn = document.getElementById("undoBtn");
  undoBtn.addEventListener("click", function () {
    showEstimate();
    console.log("버튼이 클릭되었습니다.");
  });

  function hideModal() {
    // 모달 창이 닫힐 때 backdrop 요소 제거
    $("#estimateModal").on("hidden.bs.modal", function () {
      $(".modal-backdrop").remove();
      document.body.style.overflow = "auto"; // 스크롤 유지
    });
  }

  function showModal(button) {
    estimateID = button.getAttribute("data-estimate-id");
    var bbsWriter = button.getAttribute("data-bbs-writer");
    var modalTitle = document.getElementById("estimateModalLabel");
    var modalProfile = document.getElementById("modalWriterProfleImage");

    getUserProfile(bbsWriter, modalProfile);

    modalTitle.textContent = " " + bbsWriter + " 님의 견적 확인";
    modalTitle.style.fontWeight = "bold";

    console.log("Estimate ID:", estimateID);

    var modal = document.getElementById("estimateModal");

    showEstimate();

    var modalInstance = new bootstrap.Modal(modal);
    modalInstance.show();
    // 견적 ID를 사용한 추가 동작 수행
  }

  var undoMdBtn = document.getElementById('undoMdBtn');
    undoMdBtn.style.display = 'none';

  function openCommentModal(event, bbsID) {
    event.preventDefault(); // 폼의 제출 방지

    // 댓글 입력 모달을 띄우는 코드
    $("#commentModal").modal("show");

    $("#commentModal").on("shown.bs.modal", function (event) {
      var modal = $(this);
      modal.find(".modal-body #bbsIDInput").val(bbsID);

      // 서버로부터 받은 view를 댓글 입력 모달의 내용으로 설정
      $.ajax({
        url: "/modal/allPartView?bbsID=" + bbsID,
        type: "GET",
        success: function (data) {
          modal.find(".modal-body").html(data);
          registerCommentModalButtonHandlers(); // 댓글 입력 버튼 이벤트 핸들러 다시 등록
        },
        error: function () {
          modal
            .find(".modal-body")
            .html("<p>댓글 입력 모달을 불러올 수 없습니다.</p>");
        },
      });
    });
  }

  function hideComModal(){
    var closeButton = document.querySelector('[data-bs-dismiss="modal"]');
    closeButton.click();
  }

  function registerCommentModalButtonHandlers() {
    var commentModalButtons = document.getElementsByClassName(
      "commentModalButton"
    );

    // 모든 댓글 입력 버튼에 대해 이벤트 리스너 등록
    for (var i = 0; i < commentModalButtons.length; i++) {
      var button = commentModalButtons[i];

      // 기존에 등록된 이벤트 핸들러 제거
      button.removeEventListener("click", openCommentModal);

      // 새로운 이벤트 핸들러 등록
      button.addEventListener("click", function (event) {
        var bbsID = this.getAttribute("data-bbs-id");
        openCommentModal(event, bbsID);
      });
    }
  }


  // 페이지 로드 후 댓글 입력 버튼 이벤트 핸들러 등록
  window.addEventListener("DOMContentLoaded", function () {
    registerCommentModalButtonHandlers();
  });
</script>



</body>
</html>