<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Power Supply List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1 class="my-5">Power Supply List</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Image</th>
            <th>Brand</th>
            <th>Model</th>
            <th>Power</th>
            <th>Color</th>
            <th>Efficiency</th>
            <th>Price</th>
            <th>Link</th>
            <th>ID</th>
        </tr>
        </thead>
        <tbody id="powerSupplyTableBody">

        </tbody>
    </table>
</div>

</body>
</html>

